In [1]:
import pandas as pd
import numpy as np

In [3]:
df2016 = pd.read_csv('SP500_data_2016_close.csv',index_col=0)
df2017 = pd.read_csv('SP500_data_2017_close.csv',index_col=0)
df2018 = pd.read_csv('SP500_data_2018_close.csv',index_col=0)
df2019 = pd.read_csv('SP500_data_2019_close.csv',index_col=0)
df2020 = pd.read_csv('SP500_data_2020_close.csv',index_col=0)
df2021 = pd.read_csv('SP500_data_2021_close.csv',index_col=0)

In [4]:
prices_df = pd.concat([df2016,df2017,df2018,df2019,df2020,df2021])

In [ ]:
# HAY DOS EMPRESAS QUE SE LLAMAN DIFERENTE EN REFINITIV POR LO QUE LO CAMBIAMOS MANUALMENTE PARA QUE COINCIDAN LOS DF

In [8]:
prices_df.rename(columns={'BF-B':'BFb'}, inplace=True)

In [11]:
prices_df.rename(columns={'BRK-B':'BRKb'}, inplace=True)

In [12]:
allcomp = pd.read_csv('allcomp.csv', index_col=0)

In [13]:
#limpiamos tcks y nos quedamos con los de 5 años pdte BF-B y BRK-B

In [14]:
allcomp['ticker'] = allcomp.ticker.str.split('.').str[0]

In [15]:
allcomp = allcomp[allcomp.ticker.isin(prices_df.columns.tolist())]

In [16]:
allcomp = allcomp.drop_duplicates(subset = 'ticker')

In [17]:
for comp in prices_df.columns.unique():
    
    if (comp in allcomp.ticker.unique().tolist()) == False:
        print(comp)

In [18]:
allcomp

,Doc,Topic,Doc_ID,ticker,sim_sect
0,Pool Corporation is a distributor of swimming ...,-1,0,POOL,0.740149
3,"CenterPoint Energy, Inc is a public utility ho...",-1,3,CNP,0.693413
4,Amcor plc is a packaging company. The Company’...,-1,4,AMCR,0.557522
5155,"Fluor Corporation is a holding company, which ...",-1,5155,FLR,0.538552
19,"Carrier Global Corp is a provider of heating, ...",-1,19,CARR,0.518038
...,...,...,...,...,...
31,Western Digital Corporation is a developer of ...,36,31,WDC,0.116834
215,"Xilinx, Inc. (Xilinx) is engaged in designing ...",36,215,XLNX,0.113177
375,Lam Research Corporation is a supplier of wafe...,36,375,LRCX,0.111468
262,"ANSYS, Inc. is developing and marketing engine...",36,262,ANSS,0.103157
5265,"Sandisk LLC is a United States-based company, ...",36,5265,SNDK,0.069038

In [21]:
returns_df = np.log(prices_df).diff()

In [23]:
returns_df = returns_df.iloc[1:,:]

In [82]:
prueba.iloc[0]

MON    -0.005229
IFF     0.007596
FMC    -0.010588
CTVA         NaN
Name: 2016-01-05, dtype: float64

In [127]:
prueba = pd.DataFrame(returns_df[allcomp[allcomp['Topic'] == 36].ticker.values.tolist()])

In [93]:
prueba = pd.DataFrame(returns_df[allcomp[allcomp['Topic'] == 28].ticker.values.tolist()].iloc[0]) #sacar retornos

In [128]:
prueba

,MXIM,NVDA,TXN,SNPS,CDNS,NXPI,MU,ADI,INTC,AMD,KLAC,STX,MCHP,LLTC,AMAT,WDC,XLNX,LRCX,ANSS,SNDK
2016-01-05,NaN,0.015937,-0.010545,NaN,NaN,NaN,0.033622,-0.007374,-0.004718,NaN,0.000727,0.001653,-0.007422,-0.002145,0.001082,-0.004314,0.014738,0.005389,NaN,0.001710
2016-01-06,NaN,-0.042229,-0.006531,NaN,NaN,NaN,-0.041328,-0.043493,-0.022419,NaN,-0.031927,-0.044464,-0.015679,-0.033227,-0.041972,-0.022533,-0.018457,-0.060529,NaN,-0.006857
2016-01-07,NaN,-0.040452,-0.032727,NaN,NaN,NaN,-0.040178,-0.025843,-0.038206,NaN,-0.009659,-0.006062,-0.051844,-0.034114,-0.029767,-0.016634,-0.040247,-0.025471,NaN,-0.007971
2016-01-08,NaN,-0.021700,-0.026261,NaN,NaN,NaN,-0.024455,-0.008765,-0.010418,NaN,-0.010673,-0.059648,-0.026846,-0.012324,-0.024707,-0.043109,-0.020748,-0.017301,NaN,-0.010324
2016-01-11,NaN,0.001686,0.016738,NaN,NaN,NaN,-0.061891,0.023530,0.017304,NaN,0.004131,-0.037256,-0.000722,0.009001,-0.006573,-0.047888,0.004416,0.006646,NaN,-0.002564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-01,NaN,0.010118,-0.000053,-0.010075,0.004208,0.021036,0.022891,0.008609,0.011162,0.040745,0.019920,0.031278,0.037225,NaN,0.020713,0.035507,0.029505,0.016175,-0.008307,NaN
2021-11-02,NaN,0.021982,0.009925,0.010105,0.009789,0.006947,0.000848,0.016718,0.006237,0.018983,0.022081,-0.000871,0.024153,NaN,0.012112,0.015567,0.018756,0.002581,0.020327,NaN
2021-11-03,NaN,0.007434,-0.000793,0.000660,-0.014806,0.043668,0.006901,0.004821,0.010574,0.022468,0.012577,0.017703,0.012488,NaN,0.010847,0.013358,0.014036,0.012392,0.001794,NaN
2021-11-04,NaN,0.113706,0.010097,0.024619,0.037391,0.015999,0.013799,0.010736,0.005341,0.052021,0.038398,0.019496,0.038729,NaN,0.050407,-0.013176,0.033721,0.029372,0.063204,NaN
2021-11-05,NaN,-0.001646,0.011911,-0.002843,-0.008726,0.022503,0.009369,0.018909,0.012052,-0.008472,0.018528,0.015100,0.033676,NaN,0.020830,0.020501,0.001866,0.019910,-0.008033,NaN

In [57]:
prueba.columns = ['Return']

In [58]:
prueba['sim_sect'] = allcomp[allcomp['Topic'] == 28].sim_sect.values.tolist() #pesos

In [59]:
prueba['sim_sect'].sum()

0.79877004

In [60]:
total_weight = prueba.dropna()['sim_sect'].sum()

In [61]:
prueba['TotalWeight'] = total_weight

In [62]:
prueba['Rel_weight'] = prueba['sim_sect'] / prueba['TotalWeight']

In [70]:
prueba['Rel_return'] = prueba['Return']* prueba['Rel_weight']

In [77]:
prueba['Rel_return'].sum().round(4)

-0.003

In [88]:
df = pd.DataFrame(returns_df[allcomp[allcomp['Topic'] == -1].ticker.values.tolist()])

In [89]:
diadf = df.iloc[0]

In [90]:
diadf.columns = ['Return']

In [91]:
diadf['sim_sect'] = allcomp[allcomp['Topic'] == 0].sim_sect.values.tolist()

In [92]:
diadf

POOL                 NaN
CNP           0.00926204
AMCR                 NaN
FLR           -0.0196853
CARR                 NaN
                ...
KEYS                 NaN
ETSY                 NaN
NFLX          -0.0211385
AAPL          -0.0253787
sim_sect    [0.30187976]
Name: 2016-01-05, Length: 176, dtype: object

In [95]:
sectores = []
retornos = []
for sector in allcomp['Topic'].unique():
    sectores.append(sector)
    sec_returns = []
    df = pd.DataFrame(returns_df[allcomp[allcomp['Topic'] == sector].ticker.values.tolist()])
    for i in range(len(df)):
        diadf = pd.DataFrame(df.iloc[i])
        diadf.columns = ['Return']
        diadf['sim_sect'] = allcomp[allcomp['Topic'] == sector].sim_sect.values.tolist()
        total_weight = diadf.dropna()['sim_sect'].sum()
        diadf['TotalWeight'] = total_weight
        diadf['Rel_weight'] = diadf['sim_sect'] / diadf['TotalWeight']
        diadf['Rel_return'] = diadf['Return']* diadf['Rel_weight']
        dailyret = diadf['Rel_return'].sum().round(4)
        sec_returns.append(dailyret)
    retornos.append(sec_returns)

In [96]:
len(sectores)

33

In [97]:
len(retornos)

33

In [98]:
for i in retornos:
    print(len(i))

1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472
1472

In [107]:
retornos_etf = pd.DataFrame.from_records(retornos).transpose()

In [108]:
sectores = [str(sec) for sec in sectores]

In [109]:
retornos_etf.columns = sectores

In [114]:
retornos_etf = retornos_etf + 1

In [115]:
retornos_etf

,-1,0,1,4,5,6,7,8,9,10,...,27,28,29,30,31,32,33,34,35,36
0,0.9998,1.0252,1.0055,1.0152,1.0000,0.9854,0.9888,0.9987,0.9984,0.9827,...,0.9963,0.9970,1.0068,1.0010,0.9982,1.0308,1.0067,1.0034,0.9947,1.0030
1,0.9830,0.9988,0.9894,0.9871,1.0000,0.9530,0.9804,0.9835,0.9857,0.9543,...,0.9556,0.9766,0.9845,0.9914,1.0099,0.9696,0.9981,0.9985,0.9849,0.9687
2,0.9735,0.9358,0.9764,0.9766,1.0000,0.9756,0.9580,0.9705,0.9918,0.9767,...,0.9530,0.9890,0.9759,0.9717,0.9690,0.9805,1.0001,0.9781,0.9778,0.9701
3,0.9869,1.0155,0.9866,0.9841,1.0000,0.9838,0.9824,0.9837,0.9973,0.9814,...,0.9683,0.9954,0.9923,0.9917,0.9960,0.9659,0.9917,0.9985,0.9908,0.9771
4,0.9997,0.9849,0.9890,1.0054,1.0000,1.0109,1.0132,0.9989,1.0239,0.9892,...,0.9261,0.9967,1.0011,1.0041,1.0041,1.0041,1.0012,1.0046,0.9993,0.9957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1467,1.0065,1.0000,1.0045,1.0050,1.0815,1.0126,1.0073,1.0141,1.0136,1.0309,...,0.9986,1.0003,1.0130,0.9987,1.0343,0.9938,1.0097,1.0105,1.0089,1.0158
1468,1.0074,1.0000,0.9995,1.0060,0.9693,1.0101,1.0009,0.9977,0.9893,0.9983,...,0.9969,0.9995,0.9894,1.0054,0.9985,0.9931,1.0034,1.0044,1.0067,1.0126
1469,1.0017,1.0000,1.0047,1.0148,1.0351,1.0129,0.9960,1.0186,0.9480,0.9806,...,1.0098,1.0576,0.9993,1.0033,1.0244,0.9979,1.0100,1.0098,1.0104,1.0099
1470,0.9965,1.0000,0.9899,0.9940,1.0131,1.0188,0.9733,0.9830,1.0299,0.9922,...,0.9926,1.0039,1.0197,1.0043,0.9962,1.0013,0.9993,0.9929,1.0016,1.0337
1471,1.0104,1.0000,0.9927,1.0183,0.9936,1.0033,0.9987,1.0049,0.9812,1.0026,...,1.0089,1.0134,1.0056,0.9977,1.0664,1.0101,1.0176,1.0064,1.0089,1.0096

In [117]:
retornos_etf.iloc[0]=100

In [120]:
cotizaciones_etfs_new = retornos_etf.cumprod()

In [122]:
cotizaciones_etfs_new.index = returns_df.index

In [124]:
cotizaciones_etfs_new.to_csv('Cotizaciones_etfs_new.csv', sep =',')